/**
* This base style.scss is to reset everything, window styling can be found under ./widget/...
**/

/** tooltip!! **/
tooltip.background {
    background-color: $background;
    border-radius: 10px;
    color: $foreground;
    font-size: 16px;
}
