.bar {
    .volume {
        font-size: 20px;

        .speaker box {
            padding-left: 10px;
        }

        .mic {}

        scale {
            min-height: 10px;
            min-width: 70px;
            margin-left: 10px;

            trough {
                all: unset;
                background-color: #22242b;
                box-shadow: 0 2px 3px 2px #16171b;
                border-radius: 16px;
                min-height: 10px;
                min-width: 70px;

                highlight,
                progress {
                    background-image: linear-gradient(to right, $color2 30%, $color3 50%, $color4 100% *50);
                    border-radius: 10px;
                }
            }
        }
    }
}
